h1 {
  /* ; is optional for one line css block or if a 
  line is the last line in our block */
  background-color: black;
  color: red;
}

/*  this is how we comment in css */
body {
  background-color: lightgreen;
}
